.functioning {
    width: 100%;
    padding: 30px 0;
    background-color: $colour-white;
    h2 {
        margin-left: 6%;
        @include tablette-only {
        display: flex;
        justify-content: center; 
        margin-bottom: 50px;
        margin-left: 0%;
        }
    }
}

article {
    margin: 140px 0;
}

.proposition {
    h2 {
    margin-left: 6%;
    margin-bottom: 20px ;
    margin-top: 50px;
    font-size: larger;
    font-weight: 500;
    border-bottom: 2px solid $colour-tertiary;
    width: 10%;
    @include tablette-only {
        margin: 10px auto;
        padding: 5px;
        width: 10%;
        }
    @include desktop-only {
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        border: 3px solid $colour-tertiary;
        } 
    }
}

.restaurant{
    background-color: $colour-header_font;
    @include tablette-only {
        width: 100%;
        margin: 0 auto;
    }
    h2{
        margin-left: 6%;
        padding-top: 50px;
        @include tablette-only {
            display: flex;
            justify-content: center;
            margin-left: 0;
        }
    }
}

.selection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__card {
        width: 90%;
        @include tablette-only {
            width: 60%;
        }
    }
    &__menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: $colour-white;
        border-radius: 20px;
        margin-bottom: 20px;
        &__img {
            position: relative;
            &__text-hover {
                position: absolute;
                right: 10px;
                top: 5%;
                background-color: $colour-tertiary;
                padding: 10px;
                border-radius: 5px;
                width: 80px;
                height: 20px;
                color: white;
                text-align: center;
                }   
            }    
        &__block{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 10px;
            padding-left: 10px; 
                &__body {
                    display: flex;
                    flex-direction: column;
                    margin: 4px 0;
                    h3{
                        margin: 8px 0 4px 0;
                    }
                    p {
                        margin: 0 0 8px 0;
                    }
                }
            }
        img {
            object-fit: cover;
            width: 100%;
            height: 230px;
            border-radius: 20px 20px 0 0;
        }
    }
}


// Page-menu

.presentation-menu {
    background: $colour-header_font;
    border-radius: 20px 20px 0 0;
    position: relative;

    &__title  {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-right: 40px;
        position: absolute;
        top: -80px;
        background: $colour-header_font;
        width: 100%;
        border-radius: 35px 35px 0 0;
        @include desktop-only{
            width: 50%;
            left: 25%;
            top: -58px;
            flex-direction: column;
            align-items: center;
            border-top: 11px solid #99E2D0;
            border-left: 4px solid #99E2D0;
            border-right: 4px solid #99E2D0;
        }
        h1 {
            margin-top: 0;
            padding-top: 30px ;
            font-family: "Shrikhand";
            font-weight: 100;
            margin-left: 5%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            @include desktop-only {
                padding-top: 5px;
            }
        }
    }
}






