.footer {
    background-color:  $colour-icone;
    color: $colour-white;
    display: flex;
    flex-direction: column;
    
    h4 {
        margin: 5% 0 5% 8%;
        @include desktop-only{
        margin: 5% 0 2% 8%;
        }
    }
    &__info{
    margin: 0 0 5% 8%;
        p {
            margin: 4px 0;
        }

        a {
            color: $colour-white;
        }
    }
    &__icons {
        display: flex;
        align-items: center;
        i {
            color: $colour-white;
            margin-right: 5px;
        }
            
    }
}

.footer-menu {
    top: -60px;
}