.form {
    
    &__search {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EAEAEA;
        @include box-shadow ($shadow);
        width: 100%;
        height: 55px;
            .fa-solid {
            padding: 0 10px;
            }
    }
    /* -- search area -- */
    &__city-search {
        border: none;
        background-color:transparent;
        color:$colour-icone;
        width: 180px;
            &::placeholder {
                color:$colour-icone;
                width: auto;
            }
    }
    /* -- presentation area position > include button*/
    &__presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $colour-header_font;
        h1{
            width: 75%;
            margin: 0  auto 15px auto;
            padding-top: 35px;
            text-align: center;
        }
        p{
            margin: 0 auto;
            width: 75%;
            text-align: center;
        }
    }
}