header{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    
}
// Page de menu

.header-menu{
    &__img {
        object-fit: cover;
        width: 100%;
        @include tablette-only {
            height: 300px;
        }
        @include desktop-only {
            width :100%;
            height: 450px;
        }
    }

}