header{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    
}
/* -- header page menu -- */ 

.header-menu{
    &__text {
        @include desktop-only {
            color: $colour-white;
        }
    }
    &__img {
        object-fit: cover;
        width: 100%;
        @include tablette-only {
            height: 300px;
        }
        @include desktop-only {
            width: 100%;
            height: 26vh;
        }
    }
}