
nav {
    display:flex ;
    flex-direction: column;
        .div {
            margin: 0 auto;
        }
        /* -- Page Menu -- */ 
        a {
            position: absolute;
            left: 5%;
            top: 27px;
            -webkit-text-stroke: 2px;
            @include desktop-only {
                left: 7%
            }
        }
}
