nav {
    display:flex ;
    flex-direction: column;
        .div {
            margin: 0 auto;
        }
        a {
            position: absolute;
            left: 20px;
            top: 25px;
            -webkit-text-stroke: 2px;
        }
}