@charset "UTF-8";
/*-- breakpoints -- */
/* -- loop container btn menu --*/
.container__btn__menu:nth-child(1) {
  animation: 400ms linear offset both;
  animation-delay: 250ms;
}

.container__btn__menu:nth-child(2) {
  animation: 400ms linear offset both;
  animation-delay: 500ms;
}

.container__btn__menu:nth-child(3) {
  animation: 400ms linear offset both;
  animation-delay: 750ms;
}

.container__btn__menu:nth-child(4) {
  animation: 400ms linear offset both;
  animation-delay: 1000ms;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 2147px;
  font-family: "Roboto";
}

main {
  background-color: #F7F7F7;
}

i {
  color: #474645;
  width: 20px;
  height: 20px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.fa-heart {
  font-size: 1.7rem;
  margin-right: 20px;
  color: #636363;
}

input {
  font-weight: 700;
  font-size: 1.1rem;
}

h1, h2 {
  font-weight: bolder;
  font-size: 1.5rem;
}

h3 {
  font-weight: bolder;
  font-size: 1rem;
}

h4 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: larger;
}

p, button {
  font-weight: 300;
  font-size: 0.8rem;
}

.container__btn__menu-details h3, .container__btn__menu-details p {
  margin: 10px 10px 0 0;
}

button {
  width: 60%;
  padding: 20px;
  margin: 30px auto 50px auto;
  border: none;
  border-radius: 50px;
  color: #fff;
  background: linear-gradient(900deg, #FF79DA 0%, #9356DC 100%);
  -webkit-box-shadow: 0px 8px 10px 1px #D1D1D1;
  -moz-box-shadow: 0px 8px 10px 1px #D1D1D1;
  box-shadow: 0px 8px 10px 1px #D1D1D1;
  cursor: pointer;
  transition: 200ms ease;
}
@media screen and (min-width: 764px) {
  button {
    width: 40%;
  }
}
@media screen and (min-width: 992px) {
  button {
    width: 20%;
  }
}
button:hover {
  -webkit-box-shadow: 0px 8px 6px 3px #D1D1D1;
  -moz-box-shadow: 0px 8px 6px 3px #D1D1D1;
  box-shadow: 0px 8px 6px 3px #D1D1D1;
  opacity: 0.9;
}
button span:hover {
  opacity: 1;
}

/* -- button fonctionnement -- */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* -- button fonctionnement -- */
}
@media screen and (min-width: 764px) {
  .container {
    flex-direction: row;
    width: 100%;
  }
}
.container__btn {
  display: inherit;
  align-items: baseline;
  width: 84%;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #F7F7F7;
  box-shadow: 0px 8px 10px 1px #D1D1D1;
  /* -- circle number -- */
  /* -- icon container-btn --*/
  /* -- Hover container-btn -- */
  /*-- button page menu --*/
}
.container__btn .fa-solid {
  display: flex;
}
@media screen and (min-width: 764px) {
  .container__btn {
    width: 25%;
    margin: 0 auto;
  }
  .container__btn p {
    font-size: smaller;
    font-weight: bolder;
    width: 100%;
  }
}
.container__btn__number {
  align-items: center;
  justify-content: center;
  position: relative;
  left: -20px;
  right: 5%;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  font-size: 0.7rem;
  color: white;
  background-color: #9356DC;
}
@media screen and (min-width: 764px) {
  .container__btn__number {
    bottom: 40px;
    left: 45%;
  }
}
.container__btn__iconspace {
  margin-right: 3%;
  color: #636363;
  font-size: large;
}
@media screen and (min-width: 764px) {
  .container__btn__iconspace {
    margin-left: -15px;
  }
}
.container__btn:hover {
  background-color: #f2eafb;
  -webkit-box-shadow: 0px 8px 6px 3px #D1D1D1;
  -moz-box-shadow: 0px 8px 6px 3px #D1D1D1;
  box-shadow: 0px 8px 6px 3px #D1D1D1;
}
.container__btn:hover .container__btn__iconspace {
  color: #9356DC;
}
.container__btn__menu {
  display: inherit;
  align-items: baseline;
  width: 84%;
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: #F7F7F7;
  box-shadow: 0px 8px 10px 1px #D1D1D1;
  cursor: pointer;
}
.container__btn__menu:hover {
  animation-delay: 2s;
}
@media screen and (min-width: 992px) {
  .container__btn__menu {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: 1s;
  }
}

/* -- container entrée, plats , desserts -- */
.container-page-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .container-page-menu {
    display: flex;
    flex-direction: column;
  }
}
.container-page-menu__text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 0;
}
@media screen and (min-width: 992px) {
  .container-page-menu__text {
    max-width: 100%;
  }
}
.container-page-menu__text__list {
  width: 90%;
  margin: 10px 0px 10px 15px;
}
@media screen and (max-width: 375px) {
  .container-page-menu__text__list {
    width: 62%;
  }
}
.container-page-menu__text__list p {
  width: 96%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 5px 0 5px 0;
}
@media screen and (min-width: 992px) {
  .container-page-menu__text__list p {
    width: 100%;
  }
}
.container-page-menu__text__list h3 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container-page-menu__text__price {
  margin-right: 15px;
  margin-bottom: 10px;
}
.container-page-menu__text__price p {
  margin: 0 0 0 0;
  font-weight: bolder;
}
.container-page-menu__text:hover .container-page-menu__validation {
  display: flex;
  justify-content: flex-start;
  animation: 400ms price linear both;
}
.container-page-menu__validation {
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 15px;
  height: 64px;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
}
.container-page-menu__validation .fa-circle-check {
  position: relative;
  left: 10px;
  width: 55px;
  height: 34px;
  font-size: 36px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #99E2D0;
  animation: 400ms translate linear both;
}

header {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

/* -- header page menu -- */
@media screen and (min-width: 992px) {
  .header-menu__text {
    color: #fff;
  }
}
.header-menu__img {
  object-fit: cover;
  width: 100%;
}
@media screen and (min-width: 764px) {
  .header-menu__img {
    height: 300px;
  }
}
@media screen and (min-width: 992px) {
  .header-menu__img {
    width: 100%;
    height: 26vh;
  }
}

/* Page-loading */
.load {
  z-index: 1;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  opacity: 0.95;
  animation: 0s 3s cubic-bezier(0, 1, 0, 1) delete forwards;
}
.load__box {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  /* Logo */
  /*--- Pan-cooking --*/
}
.load__box p {
  position: relative;
  font-family: "Shrikhand";
  display: flex;
  justify-content: center;
  top: -95px;
  font-size: 20px;
  letter-spacing: 3px;
  animation: 1200ms cubic-bezier(0, 0.94, 0.52, 0.98) alternate infinite wait;
}
.load__box__line1 {
  position: relative;
  width: 150px;
  height: 5px;
  border-radius: 3px;
  top: 40px;
  background-color: #99E2D0;
  animation: 1200ms cubic-bezier(0, 0.94, 0.52, 0.98) alternate infinite line-move;
}
.load__box__line2 {
  position: relative;
  top: 27px;
  width: 15px;
  height: 8px;
  border-radius: 2px 2px 0 0;
  background-color: #99E2D0;
  border: 2px black solid;
  animation: 1200ms cubic-bezier(0, 0.94, 0.52, 0.98) alternate infinite line-move;
}
.load__box__line3 {
  z-index: 10;
  position: relative;
  top: 50px;
  width: 150px;
  height: 105px;
  border-radius: 5px 5px 20px 20px;
  border: 3px solid #99E2D0;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 4px 11px 0px rgba(241, 192, 227, 0.8509803922);
}

/* --Delete loading--*/
@keyframes delete {
  to {
    opacity: 0;
    transform: scale(0);
  }
}
/* Flames */
.flame {
  position: relative;
  margin-bottom: 2px;
  width: 5px;
  height: 6px;
  border-radius: 20px 20px 30px 30px;
  animation: 12ms ease infinite alternate flame;
}
.flame__flame {
  position: relative;
  top: -14px;
  width: 6px;
  height: 16px;
  border-radius: 43px 2px 50px 0px;
  background-color: #9356DC;
}
.flame__flame1 {
  position: relative;
  margin-bottom: 2px;
  width: 6px;
  height: 16px;
  top: -25px;
  left: 40px;
  border-radius: 43px 2px 50px 0px;
  background-color: #99E2D0;
}
.flame__flame2 {
  position: relative;
  margin-bottom: 2px;
  width: 6px;
  height: 16px;
  top: -45px;
  left: -40px;
  border-radius: 43px 2px 50px 0px;
  background-color: #FF79DA;
}

/* Text load */
@keyframes wait {
  to {
    transform: translate(2px, -15px);
  }
  from {
    transform: translateY(1px);
  }
}
/* Pan-cooking */
@keyframes line-move {
  0% {
    transform: rotate(-1deg);
  }
  10% {
    transform: rotate(2deg);
  }
  20% {
    transform: rotate(-2deg);
  }
  30% {
    transform: rotate(2deg);
  }
  100% {
    transform: translateY(-150px);
  }
}
/* Flames */
@keyframes flame {
  0% {
    transform: rotate(-1deg);
  }
  15% {
    transform: rotate(1deg) scaleY(0.95);
  }
  30% {
    transform: rotate(-1deg) scaleY(0.9);
  }
  45% {
    transform: rotate(1deg) scaleY(0.95);
  }
  60% {
    transform: rotate(-1deg) scaleY(1);
  }
  75% {
    transform: rotate(1deg) scaleY(1.05);
  }
  90% {
    transform: rotate(-1deg) scaleY(1);
  }
  100% {
    transform: rotate(1deg);
  }
}
/* heart filling */
.selection__block__heart {
  position: relative;
}
.selection__block__heart .icon-front {
  position: absolute;
  color: #474645;
}
.selection__block__heart .icon-front:hover::before {
  opacity: 0;
  color: transparent;
  z-index: -1;
}

/* Solid heart */
.icon-back {
  position: relative;
  top: -1px;
  transition: all 0.2s;
  left: -2px;
}
.icon-back::before {
  color: transparent;
  width: 110%;
  height: 0%;
  font-size: 31px;
}
.icon-back:hover::before {
  height: 110%;
  animation: 1000ms progress-bar linear both;
}

/* Heart progress */
@keyframes progress-bar {
  0% {
    -webkit-background-clip: text;
    color: white;
    transform: scale(0);
  }
  50% {
    -webkit-background-clip: text;
    color: transparent;
    background-color: #FF79DA;
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    -webkit-background-clip: text;
    color: transparent;
    background-color: #9356DC;
    transform: scale(1.5);
  }
}
/*---- Menu-offset ----*/
@keyframes offset {
  0% {
    transform: translateY(8px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* -- Price validation -- */
@keyframes price {
  to {
    padding-right: 3rem;
  }
}
@keyframes translate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    margin: 0 auto;
    transform: rotate(360deg);
  }
}
nav {
  display: flex;
  flex-direction: column;
  /* -- Page Menu -- */
}
nav .div {
  margin: 0 auto;
}
nav a {
  position: absolute;
  left: 5%;
  top: 27px;
  -webkit-text-stroke: 2px;
}
@media screen and (min-width: 992px) {
  nav a {
    left: 7%;
  }
}

.functioning {
  width: 100%;
  padding: 30px 0;
  background-color: #fff;
}
.functioning h2 {
  margin-left: 6%;
}
@media screen and (min-width: 764px) {
  .functioning h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 0%;
  }
}

article {
  margin: 140px 0;
}
@media screen and (min-width: 992px) {
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.proposition h2 {
  width: 10%;
  margin-left: 6%;
  margin-bottom: 20px;
  margin-top: 50px;
  font-size: larger;
  font-weight: 500;
  border-bottom: 2px solid #99E2D0;
}
@media screen and (min-width: 764px) {
  .proposition h2 {
    width: 10%;
    margin: 10px 40%;
    padding: 5px;
  }
}
@media screen and (min-width: 992px) {
  .proposition h2 {
    display: flex;
    justify-content: center;
    width: 25%;
    margin-bottom: 50px;
    font-family: "Shrikhand";
    font-size: 26px;
    border-bottom: 3px solid #99E2D0;
  }
}

/* -- block restaurants -- */
.restaurant {
  background-color: #F7F7F7;
}
@media screen and (min-width: 764px) {
  .restaurant {
    width: 100%;
    margin: 0 auto;
  }
}
.restaurant h2 {
  margin-left: 6%;
  padding-top: 50px;
}
@media screen and (min-width: 764px) {
  .restaurant h2 {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }
}

/* -- block Card restaurants -- */
.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* -- card détails -- */
}
.selection__card {
  width: 90%;
}
@media screen and (min-width: 764px) {
  .selection__card {
    width: 60%;
  }
}
@media screen and (min-width: 992px) {
  .selection__card {
    max-width: 800px;
  }
}
.selection__card__global {
  margin: 40px 0;
}
.selection__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 8px 10px 1px #d1d1d1;
  /* -- block text restaurants-- */
}
.selection__menu img {
  object-fit: cover;
  width: 100%;
  height: 230px;
  border-radius: 20px 20px 0 0;
}
.selection__menu__img {
  position: relative;
}
.selection__menu__img__text-hover {
  position: absolute;
  width: 80px;
  height: 20px;
  right: 10px;
  top: 5%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: #99E2D0;
  color: white;
}
.selection__menu__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
}
.selection__menu__block__body {
  display: flex;
  flex-direction: column;
  margin: 4px 0;
}
.selection__menu__block__body h3 {
  margin: 8px 0 4px 0;
}
.selection__menu__block__body p {
  margin: 0 0 8px 0;
}

.presentation-menu {
  position: relative;
  background: #F7F7F7;
  border-radius: 20px 20px 0 0;
}
.presentation-menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  top: -50px;
  margin-right: 40px;
  background: #F7F7F7;
  border-radius: 35px 35px 0 0;
}
@media screen and (min-width: 992px) {
  .presentation-menu__title {
    align-items: baseline;
    justify-content: space-evenly;
    border-top: none;
    width: 55%;
    left: 25%;
    background: none;
    border-radius: 0;
  }
}
.presentation-menu__title h1 {
  margin-top: 0;
  margin-left: 5%;
  padding-top: 30px;
  font-family: "Shrikhand";
  font-weight: 100;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (min-width: 992px) {
  .presentation-menu__title h1 {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 50px;
  }
}

.form {
  /* -- search area -- */
  /* -- presentation area position > include button*/
}
.form__search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  -webkit-box-shadow: inset 0px 4px 3px 0px #D1D1D1;
  -moz-box-shadow: inset 0px 4px 3px 0px #D1D1D1;
  box-shadow: inset 0px 4px 3px 0px #D1D1D1;
  width: 100%;
  height: 55px;
}
.form__search .fa-solid {
  padding: 0 10px;
}
.form__city-search {
  border: none;
  background-color: transparent;
  color: #474645;
  width: 180px;
}
.form__city-search::placeholder {
  color: #474645;
  width: auto;
}
.form__presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7F7F7;
}
.form__presentation h1 {
  width: 75%;
  margin: 0 auto 15px auto;
  padding-top: 35px;
  text-align: center;
}
.form__presentation p {
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

.footer {
  background-color: #474645;
  color: #fff;
  display: flex;
  flex-direction: column;
  /* -- icon footer -- */
}
.footer h4 {
  margin: 5% 0 5% 8%;
}
@media screen and (min-width: 992px) {
  .footer h4 {
    margin: 5% 0 2% 8%;
  }
}
.footer__info {
  margin: 0 0 5% 8%;
}
.footer__info p {
  margin: 4px 0;
}
.footer__info a {
  color: #fff;
}
.footer__icons {
  display: flex;
  align-items: center;
}
.footer__icons i {
  color: #fff;
  margin-right: 5px;
}

/*-- footer menu ajusted position top -- */
.footer-menu {
  top: -60px;
}

/*# sourceMappingURL=style.css.map */
