button {
    background: linear-gradient(90deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    border: none;
    color: $colour-white;
    padding: 20px;
    margin: 30px auto 50px auto;
    border-radius: 50px;
}