body {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1400px;
    font-family: $font-primary;
}

main {
    background-color: $colour-header_font;
}


i {
    color: $colour-icone;
    width: 20px;
    height: 20px;
}

a {
    text-decoration: none;
    color:  $coulour-black;
}

.fa-heart {
    font-size: 1.7rem;
    margin-right: 20px;
    color: $colour-icone2;
}


.loader {
    z-index: 10;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background: white;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: delete 4s 4s;
    animation-fill-mode: forwards;
    transform-origin:center;
}

.word {
    color: $colour-tertiary;
    font-size: 30px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: spot 3s linear infinite;
}

// .bubles {
//     position: absolute;
//     display: flex;
// }

// .boule {
//     position: relative;
//     top: 20%;
//     width: 20px;
//     height: 20px;
//     font-size: 80px;
//     border-radius: 50%;
//     margin-right: 10px;
//     background-color: #d01b1b;
//     animation: boule 3s ;
// }

// .lettre {
//     transform: translateX(-30px);
// }

// @keyframes boule {
//     to {
//         right: 100px;
//     }
//     from {
//         right: 100px;
//     }
// }

@keyframes delete {
    to {
        transform: scale(0);
    }
}

@keyframes spot {
    0% {
        color: $colour-tertiary;
        text-shadow: 0 0 7px $colour-tertiary;
        margin-right: 100px;
    }
    50% {
        color :$colour-primary;
        text-shadow: none;
        transform: translateY(-100px);
    }
    100% {
        color: $colour-secondary;
        text-shadow: 0 0 7px $colour-secondary;
        transform: translateY(0px);
    }
}

.word:nth-child(1) {
    animation-delay: 0.1s;
}
.word:nth-child(2) {
    animation-delay: 0.1s;
}
.word:nth-child(3) {
    animation-delay: 0.1s;
}
.word:nth-child(4) {
    animation-delay: 0.1s;
}
.word:nth-child(5) {
    animation-delay: 0.1s;
}
.word:nth-child(6) {
    animation-delay: 0.1s;
}
.word:nth-child(7) {
    animation-delay: 0.1s;
}
.word:nth-child(8) {
    animation-delay: 0.1s;
}
.word:nth-child(9) {
    animation-delay: 0.1s;
}
.word:nth-child(10) {
    animation-delay: 0.1s;
}
