body {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1400px;
    font-family: $font-primary;
}

main {
    background-color: $colour-header_font;
}


i {
    color: $colour-icone;
    width: 20px;
    height: 20px;
}

a {
    text-decoration: none;
    color:  $coulour-black;
}

.fa-heart {
    font-size: 1.7rem;
    margin-right: 20px;
    color: $colour-icone2;
}
