
input {
    font-weight: 700;
    font-size: 1.1rem;
}

h1 ,h2 {
    font-weight:900;
    font-size: 1.8rem;
}

h3 {
    font-weight: bolder;
    font-size: 1.4rem;
}

h4 {
    font-family: $font-secondary;
    font-weight: 400;
    font-size: larger;
}

p ,button{
    font-weight:300;
    font-size: 1rem;
}


.container__btn__menu-details {
    h3,p {
        margin: 10px 10px 0 0;
    }
}
