body {
    font-family: $font-primary;
}

input {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 1.1rem;
}

h1 {
    font-family: $font-primary;
    font-weight: 900;
    font-size: 2rem;
}

p {
    font-family: $font-primary;
    font-weight:300;
    font-size: 1.3rem;
}