@mixin btn-background($colour: $colour-primary){
    @if ( lightness($colour) > 25% ) {
    $colour: lighten($colour, 35%);
    }
    background-color : $colour;
}


@mixin box-shadow($params) {
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    box-shadow: $params;
}

/* -- loop container btn menu --*/ 

@for $i from 1 through 4 {
    .container__btn__menu:nth-child(#{+$i}) {
    animation:($animation);
    animation-delay: ($animation-delay $i * 250ms);
    }
}