

$colour-primary:#9356DC; 
$colour-secondary:#FF79DA;
$colour-tertiary:#99E2D0;
$colour-shadow: #D1D1D1;
$colour-header_font: #F7F7F7;

$colour-icone:#474645;
$colour-icone2:#636363;
$colour-white: #fff;

$shadow: inset 0px 4px 3px 0px  $colour-shadow;
$shadow-button : 0px 8px 10px 1px $colour-shadow;

$font-weight-800 : 800;
 
$font-primary:"Roboto";
$font-secondary:"Shrikhand";


$border-number : 50%;

