/*
Colour-variables
*/ 

$colour-primary:#9356DC; 
$colour-secondary:#FF79DA;
$colour-tertiary:#99E2D0;
$colour-shadow: #D1D1D1;
$colour-header_font: #F7F7F7;

$colour-icone:#353535;
$colour-white: #fff;

/*
Shadow
*/
$shadows: inset 0px 4px 3px 0px  $colour-shadow;

/* 
font-variables
*/ 
$font-primary:"Roboto";
$font-secondary:"Shrikhand";