
$colour-primary:#9356DC; 
$colour-secondary:#FF79DA;
$colour-tertiary:#99E2D0;
$colour-shadow: #D1D1D1;
$colour-header_font: #F7F7F7;

$colour-icone:#474645;
$colour-icone2:#636363;
$colour-white: #fff;
$coulour-black : rgb(0, 0, 0);

$shadow: inset 0px 4px 3px 0px  $colour-shadow;
$shadow-button : 0px 8px 10px 1px $colour-shadow;
$shadow-button-darken : 0px 8px 6px 3px $colour-shadow;

$font-weight-800 : 800;
 
$font-primary:"Roboto";
$font-secondary:"Shrikhand";

$animation-delay:null;
$animation:400ms linear offset both;

/*-- breakpoints -- */ 
$breakpoints-mobile: (
    mobile: 350px
);

$breakpoints-tablette: (
    tablette: 764px
);
$breakpoints-desktop: (
    desktop: 992px
);
